.intro {
    margin-top: 4%;
    margin-bottom: 4%;
    font-weight: bold;
    font-size: xx-large;
}

.enter-name {
    padding-right: 3%;
}

label {
    font-size: larger;
    font-weight: bold;
}

.explanation {
    border: thin dotted black;
    padding: 3%;
}