.game {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background: blue;
    width: 525px;
    height: 475px;
}

.slot {
    background-color: white;
    border-radius: 50%;
    height: 75px;
    width: 75px;
}

#start-button {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  background-color: green;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#start-button:hover {
  background-color: darkgreen;
}

#stop-button {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  background-color: red;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#stop-button:hover {
  background-color: darkred;
}



