.game {
    position: relative;
    background: blue;
    width: 525px;
    height: 475px;
    border-top: 10px solid blue;
    margin: 10px auto 10px auto;
}

.white {
    background-color: white;
    border-radius: 50%;
    height: 72px;
    width: 72px;
}

.red {
    background-color: red;
    border-radius: 50%;
    height: 72px;
    width: 72px;
}

.yellow {
    background-color: yellow;
    border-radius: 50%;
    height: 72px;
    width: 72px;
}

#start-button {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  background-color: green;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#start-button:hover {
  background-color: darkgreen;
}

#stop-button {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  background-color: red;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#stop-button:hover {
  background-color: darkred;
}

.btn-primary {
    margin: 5px 0 5px 0;
}

.throw {
    opacity: 0;
}




